/* 改变代码外层的pre样式 */
pre{
    border:1px solid silver;
}

/* 改变默认的引用段落样式 */
blockquote.default{
    border-left: 5px solid #D0E3F0;
    margin: 8px 0;
    padding: 8px 16px;
    background-color: #F0F7FD;
    color: #0382AD;    
}

h1,h2,h3,h4,h5{
font-weight: bold;
}
p {
margin: 10px auto;
}

p code,li code{
    background-color: #fff5f5;
    color: #ff502c;
}

